In [59]:
# -*- coding: utf-8
# Transparency International - Brazil (https://transparenciainternacional.org.br)
# Reinaldo Chaves (@paidatocandeira)
# Une bases de candidatos com dados gerais e bases do SurveyMonkey e Pacto
#

In [ ]:
import pandas as pd
import unidecode

Função para retirar acentuação

In [60]:
def f(str):
    return (unidecode.unidecode(str))

# Acessa a última versão da base completa

In [62]:
selecionados_last = pd.read_excel('resultados/consolidado/planilhacompleta_consolidade_5out_parcial2.xlsx',sheet_name='Sheet1', converters={'cpf': lambda x: str(x),  
                                                                                              'numero_urna': lambda x: str(x)
                                                                                                  })

In [63]:
selecionados_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8263 entries, 0 to 8262
Data columns (total 33 columns):
uf                              8263 non-null object
cargo                           8263 non-null object
numero_urna                     8263 non-null object
nome_completo                   8263 non-null object
nome_urna                       8263 non-null object
cpf                             8263 non-null object
e_mail_tse                      8263 non-null object
partido_eleicao                 8263 non-null object
data_nascimento                 8263 non-null object
ocupacao_tse                    8263 non-null object
total_bens                      5379 non-null float64
detalhes_bens                   8263 non-null object
resumo_stf                      0 non-null float64
total_inqueritos                8249 non-null object
total_acoes_penais              0 non-null float64
detalhes_processos              0 non-null float64
reu_no_stf                      37 non-null object
passado_limpo                   8249 non-null object
e_mail_survey                   662 non-null object
ocupacao_survey                 662 non-null object
site_candidato                  358 non-null object
url_facebook                    643 non-null object
url_twitter                     328 non-null object
url_instagram                   525 non-null object
url_youtube                     287 non-null object
financiamento_coletivo          284 non-null object
processos_primeira_instancia    8249 non-null object
detalhes_processos_survey       8249 non-null object
aderiu_totalmente_medidas       8249 non-null object
justificativa_adesao_medidas    8249 non-null object
pacto                           8249 non-null object
tenta_reeleicao                 8249 non-null object
cor_avaliacao                   8249 non-null object
dtypes: float64(4), object(29)
memory usage: 2.1+ MB

# Acessa a última versão de Pacto

In [64]:
pacto = pd.read_excel('pacto/pacto_5out_2.xlsx',sheet_name='Sheet1', converters={'cpf_inteiro': lambda x: str(x)})

In [65]:
pacto = pacto.drop_duplicates(['cpf_inteiro'], keep='last')

In [66]:
pacto.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, helitec@uol.com.br to nan
Data columns (total 26 columns):
Nome                 518 non-null object
Sobrenome            511 non-null object
(End)                0 non-null float64
Telefone             398 non-null object
Estado               516 non-null object
Cidade               505 non-null object
Partido              498 non-null object
Movimento            222 non-null object
Cargo concorrente    515 non-null object
Facebook             456 non-null object
Instagram            211 non-null object
Twitter              22 non-null object
Youtube/Linkedin     15 non-null object
Site                 134 non-null object
Crowdfunding         15 non-null object
Mandato atual        473 non-null object
CPF                  525 non-null object
Nº urna              459 non-null object
Data de adesão       497 non-null object
adesao               525 non-null object
video                517 non-null object
Responsável          104 non-null object
Unnamed: 22          0 non-null object
cpf_limpo            525 non-null int64
cpf_inteiro          525 non-null object
aceite_ajustado      525 non-null object
dtypes: float64(1), int64(1), object(24)
memory usage: 110.7+ KB

# Cruza versão atual do Pacto com último conjunto de selecionados anteriores

In [67]:
checa_pacto = pd.merge(selecionados_last, pacto,  how='left', left_on='cpf',
                 right_on = 'cpf_inteiro')

In [68]:
checa_pacto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8263 entries, 0 to 8262
Data columns (total 59 columns):
uf                              8263 non-null object
cargo                           8263 non-null object
numero_urna                     8263 non-null object
nome_completo                   8263 non-null object
nome_urna                       8263 non-null object
cpf                             8263 non-null object
e_mail_tse                      8263 non-null object
partido_eleicao                 8263 non-null object
data_nascimento                 8263 non-null object
ocupacao_tse                    8263 non-null object
total_bens                      5379 non-null float64
detalhes_bens                   8263 non-null object
resumo_stf                      0 non-null float64
total_inqueritos                8249 non-null object
total_acoes_penais              0 non-null float64
detalhes_processos              0 non-null float64
reu_no_stf                      37 non-null object
passado_limpo                   8249 non-null object
e_mail_survey                   662 non-null object
ocupacao_survey                 662 non-null object
site_candidato                  358 non-null object
url_facebook                    643 non-null object
url_twitter                     328 non-null object
url_instagram                   525 non-null object
url_youtube                     287 non-null object
financiamento_coletivo          284 non-null object
processos_primeira_instancia    8249 non-null object
detalhes_processos_survey       8249 non-null object
aderiu_totalmente_medidas       8249 non-null object
justificativa_adesao_medidas    8249 non-null object
pacto                           8249 non-null object
tenta_reeleicao                 8249 non-null object
cor_avaliacao                   8249 non-null object
Nome                            429 non-null object
Sobrenome                       426 non-null object
(End)                           0 non-null float64
Telefone                        329 non-null object
Estado                          427 non-null object
Cidade                          419 non-null object
Partido                         420 non-null object
Movimento                       183 non-null object
Cargo concorrente               427 non-null object
Facebook                        388 non-null object
Instagram                       184 non-null object
Twitter                         18 non-null object
Youtube/Linkedin                13 non-null object
Site                            118 non-null object
Crowdfunding                    14 non-null object
Mandato atual                   408 non-null object
CPF                             436 non-null object
Nº urna                         398 non-null object
Data de adesão                  417 non-null object
adesao                          436 non-null object
video                           428 non-null object
Responsável                     95 non-null object
Unnamed: 22                     0 non-null object
cpf_limpo                       436 non-null float64
cpf_inteiro                     436 non-null object
aceite_ajustado                 436 non-null object
dtypes: float64(6), object(53)
memory usage: 3.8+ MB

In [69]:
checa_pacto.to_excel('verifica_encontrados_pacto.xlsx',sheet_name='Sheet1')

In [70]:
nomes_naoencontrados = pd.merge(selecionados_last, 
                                pacto, 
                        left_on='cpf',
                        right_on = 'cpf_inteiro',
                        how='outer',
                        indicator=True)
ldf = nomes_naoencontrados.query("_merge == 'lef_only'").drop('_merge',axis=1)
ldf.nome_completo

Series([], Name: nome_completo, dtype: object)

#### 1 - Atualiza coluna pacto nos encontrados (comparar coluna 'pacto' com 'Aceite'). Pode apagar colunas tenta_reeleicao e cor_avaliacao. Verificar se em Pacto há CPF duplicado, deixar a última versão

#### 2 - Faz última verificação visual nos não encontrados

#### 3 - Coloca esse conjunto no final do último arquivo consolidado geral. Exemplo: planilhacompleta_consolidade_14set_parcial

# Acessa o Survey

Olhar a última data da versão anterior: era 2018-10-05 11:39:24

In [120]:
survey = pd.read_excel('monkey/monkey_5out_2.xlsx',sheet_name='Sheet1', converters={'cpf_inteiro': lambda x: str(x), 
                                                                                              'titulo_eleitor': lambda x: str(x)
                                                                                                  })

In [121]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2061 entries, 0 to 2060
Data columns (total 34 columns):
respondent_id                   2060 non-null float64
collector_id                    2060 non-null float64
date_created                    2060 non-null datetime64[ns]
date_modified                   2060 non-null object
ip_address                      2060 non-null object
email_address                   0 non-null float64
first_name                      0 non-null float64
last_name                       0 non-null float64
custom_1                        0 non-null float64
nome_completo                   2061 non-null object
e_mail_survey                   2061 non-null object
Cargo pretendido                2061 non-null object
cpf                             956 non-null object
titulo_eleitor                  840 non-null object
nome_na_urna                    956 non-null object
numero_na_urna                  956 non-null object
UF                              956 non-null object
municipio_nascimento            840 non-null object
Ano de nascimento               951 non-null object
ocupacao_survey                 956 non-null object
Partido político                956 non-null object
site_candidato                  515 non-null object
url_facebook                    892 non-null object
url_twitter                     451 non-null object
url_instagram                   727 non-null object
url_youtube                     404 non-null object
financiamento_coletivo          410 non-null object
passado_limpo                   929 non-null object
processos_primeira_instancia    929 non-null object
detalhes_processos_survey       18 non-null object
pacto                           831 non-null object
aderiu_totalmente_medidas       812 non-null object
justificativa_adesao_medidas    162 non-null object
cpf_inteiro                     2061 non-null object
dtypes: datetime64[ns](1), float64(6), object(27)
memory usage: 563.6+ KB

In [122]:
survey.reset_index().head()

,index,respondent_id,collector_id,date_created,date_modified,ip_address,email_address,first_name,last_name,custom_1,...,url_instagram,url_youtube,financiamento_coletivo,passado_limpo,processos_primeira_instancia,detalhes_processos_survey,pacto,aderiu_totalmente_medidas,justificativa_adesao_medidas,cpf_inteiro
0,0,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,Instagram,Youtube,Open-Ended Response,Response,Response,Open-Ended Response,Response,Response,Open-Ended Response,Open-Ended Response
1,1,1.026128e+10,215760080.0,2018-10-05 20:58:06,10/05/2018 08:59:11 PM,191.255.242.55,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000000000
2,2,1.026124e+10,215760080.0,2018-10-05 20:35:50,10/05/2018 08:37:46 PM,200.174.132.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000000000
3,3,1.026120e+10,215760080.0,2018-10-05 20:14:09,10/05/2018 08:14:58 PM,179.176.175.61,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000000000
4,4,1.026119e+10,215760080.0,2018-10-05 20:11:03,10/05/2018 08:13:02 PM,179.159.23.23,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000000000

In [123]:
# mask = (survey['date_created'].dt.year == 2018) & (survey['date_created'].dt.month == 8) & (survey['date_created'].dt.day > 27)

mask = survey['date_created'] >= '2018-10-05 11:39:24' # última data e hora que houve atualização

selecionados_atual = survey[mask]

In [124]:
selecionados_atual.reset_index().head()

,index,respondent_id,collector_id,date_created,date_modified,ip_address,email_address,first_name,last_name,custom_1,...,url_instagram,url_youtube,financiamento_coletivo,passado_limpo,processos_primeira_instancia,detalhes_processos_survey,pacto,aderiu_totalmente_medidas,justificativa_adesao_medidas,cpf_inteiro
0,1,1.026128e+10,215760080.0,2018-10-05 20:58:06,10/05/2018 08:59:11 PM,191.255.242.55,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000000000
1,2,1.026124e+10,215760080.0,2018-10-05 20:35:50,10/05/2018 08:37:46 PM,200.174.132.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000000000
2,3,1.026120e+10,215760080.0,2018-10-05 20:14:09,10/05/2018 08:14:58 PM,179.176.175.61,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000000000
3,4,1.026119e+10,215760080.0,2018-10-05 20:11:03,10/05/2018 08:13:02 PM,179.159.23.23,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00000000000
4,5,1.026114e+10,215760080.0,2018-10-05 19:43:30,10/05/2018 07:49:33 PM,191.26.197.167,NaN,NaN,NaN,NaN,...,luizcastro_am,NaN,NaN,SIM,Também nunca sofri condenação judicial em prim...,NaN,SIM,SIM,NaN,07396570204

In [125]:
selecionados_atual.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 1 to 26
Data columns (total 34 columns):
respondent_id                   26 non-null float64
collector_id                    26 non-null float64
date_created                    26 non-null datetime64[ns]
date_modified                   26 non-null object
ip_address                      26 non-null object
email_address                   0 non-null float64
first_name                      0 non-null float64
last_name                       0 non-null float64
custom_1                        0 non-null float64
nome_completo                   26 non-null object
e_mail_survey                   26 non-null object
Cargo pretendido                26 non-null object
cpf                             9 non-null object
titulo_eleitor                  9 non-null object
nome_na_urna                    9 non-null object
numero_na_urna                  9 non-null object
UF                              9 non-null object
municipio_nascimento            9 non-null object
Ano de nascimento               9 non-null object
ocupacao_survey                 9 non-null object
Partido político                9 non-null object
site_candidato                  3 non-null object
url_facebook                    7 non-null object
url_twitter                     3 non-null object
url_instagram                   7 non-null object
url_youtube                     4 non-null object
financiamento_coletivo          1 non-null object
passado_limpo                   9 non-null object
processos_primeira_instancia    9 non-null object
detalhes_processos_survey       0 non-null object
pacto                           7 non-null object
aderiu_totalmente_medidas       7 non-null object
justificativa_adesao_medidas    1 non-null object
cpf_inteiro                     26 non-null object
dtypes: datetime64[ns](1), float64(6), object(27)
memory usage: 7.1+ KB

In [126]:
#a = selecionados_atual.reset_index().tail(3)

In [127]:
#a.nome_completo

In [128]:
selecionados_atual = selecionados_atual.drop_duplicates(['cpf_inteiro'], keep='first')

In [129]:
selecionados_atual.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 1 to 25
Data columns (total 34 columns):
respondent_id                   8 non-null float64
collector_id                    8 non-null float64
date_created                    8 non-null datetime64[ns]
date_modified                   8 non-null object
ip_address                      8 non-null object
email_address                   0 non-null float64
first_name                      0 non-null float64
last_name                       0 non-null float64
custom_1                        0 non-null float64
nome_completo                   8 non-null object
e_mail_survey                   8 non-null object
Cargo pretendido                8 non-null object
cpf                             7 non-null object
titulo_eleitor                  7 non-null object
nome_na_urna                    7 non-null object
numero_na_urna                  7 non-null object
UF                              7 non-null object
municipio_nascimento            7 non-null object
Ano de nascimento               7 non-null object
ocupacao_survey                 7 non-null object
Partido político                7 non-null object
site_candidato                  3 non-null object
url_facebook                    6 non-null object
url_twitter                     3 non-null object
url_instagram                   6 non-null object
url_youtube                     3 non-null object
financiamento_coletivo          1 non-null object
passado_limpo                   7 non-null object
processos_primeira_instancia    7 non-null object
detalhes_processos_survey       0 non-null object
pacto                           7 non-null object
aderiu_totalmente_medidas       7 non-null object
justificativa_adesao_medidas    1 non-null object
cpf_inteiro                     8 non-null object
dtypes: datetime64[ns](1), float64(6), object(27)
memory usage: 2.2+ KB

# Acessa o molde vazio de arquivo consolidado geral - com dados gerais dos candidatos

In [111]:
candidatos = pd.read_excel('candidatos_bens_padrao/base_padrao_dia5out.xlsx',sheet_name='Planilha1', converters={'cpf': lambda x: str(x),  
                                                                                              'numero_urna': lambda x: str(x),
                                                                                              'titulo_eleitor': lambda x: str(x)     
                                                                                                  })

In [84]:
candidatos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8263 entries, 0 to 8262
Data columns (total 15 columns):
uf                      8263 non-null object
cargo                   8263 non-null object
numero_urna             8263 non-null object
nome_completo           8263 non-null object
nome_urna               8263 non-null object
cpf                     8263 non-null object
e_mail_tse              8263 non-null object
partido_eleicao         8263 non-null object
uf_nascimento           8263 non-null object
municipio_nascimento    8263 non-null object
data_nascimento         8263 non-null object
titulo_eleitor          8263 non-null object
ocupacao_tse            8263 non-null object
total_bens              5379 non-null float64
detalhes_bens           8263 non-null object
dtypes: float64(1), object(14)
memory usage: 968.4+ KB

# Mostra dados dos selecionados atuais e faz limpezas

In [112]:
selecionados_atual[['titulo_eleitor', 'municipio_nascimento', 'UF', 'numero_na_urna', 'cpf_inteiro']]

   titulo_eleitor municipio_nascimento   UF numero_na_urna  cpf_inteiro
1             NaN                  NaN  NaN            NaN  00000000000
5      3836842232           São Paulo    AM            180  07396570204
7     12334500221       Belo Horizonte   MG           3012  49882597653
11     7190041520             Teresina   PI           4545  34305327368
14    96726530191            São Paulo   SP           1989  53764498820
16    74136970663       Joaquim Tavora   PR           4599  39446310997
20     4500402372         Porto Velho    RO           1810  32677618249
25     8548342305   São Miguel D Oeste   RO           1111  35124032200

# Cruza com o molde vazio de arquivo consolidado geral com selecionados atual

In [130]:
checa = pd.merge(candidatos, selecionados_atual,  how='left', left_on=['titulo_eleitor','numero_urna', 'cpf'], 
                 right_on = ['titulo_eleitor','numero_na_urna', 'cpf_inteiro'])

In [132]:
checa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8263 entries, 0 to 8262
Data columns (total 48 columns):
uf                              8263 non-null object
cargo                           8263 non-null object
numero_urna                     8263 non-null object
nome_completo_x                 8263 non-null object
nome_urna                       8263 non-null object
cpf_x                           8263 non-null object
e_mail_tse                      8263 non-null object
partido_eleicao                 8263 non-null object
uf_nascimento                   8263 non-null object
municipio_nascimento_x          8263 non-null object
data_nascimento                 8263 non-null object
titulo_eleitor                  8263 non-null object
ocupacao_tse                    8263 non-null object
total_bens                      5379 non-null float64
detalhes_bens                   8263 non-null object
respondent_id                   7 non-null float64
collector_id                    7 non-null float64
date_created                    7 non-null datetime64[ns]
date_modified                   7 non-null object
ip_address                      7 non-null object
email_address                   0 non-null float64
first_name                      0 non-null float64
last_name                       0 non-null float64
custom_1                        0 non-null float64
nome_completo_y                 7 non-null object
e_mail_survey                   7 non-null object
Cargo pretendido                7 non-null object
cpf_y                           7 non-null object
nome_na_urna                    7 non-null object
numero_na_urna                  7 non-null object
UF                              7 non-null object
municipio_nascimento_y          7 non-null object
Ano de nascimento               7 non-null object
ocupacao_survey                 7 non-null object
Partido político                7 non-null object
site_candidato                  3 non-null object
url_facebook                    6 non-null object
url_twitter                     3 non-null object
url_instagram                   6 non-null object
url_youtube                     3 non-null object
financiamento_coletivo          1 non-null object
passado_limpo                   7 non-null object
processos_primeira_instancia    7 non-null object
detalhes_processos_survey       0 non-null object
pacto                           7 non-null object
aderiu_totalmente_medidas       7 non-null object
justificativa_adesao_medidas    1 non-null object
cpf_inteiro                     7 non-null object
dtypes: datetime64[ns](1), float64(7), object(40)
memory usage: 3.1+ MB

In [137]:
checa.to_excel('verifica_encontrados_survey.xlsx',sheet_name='Sheet1')

In [133]:
nomes_naoencontrados = pd.merge(candidatos, 
                                selecionados_atual, 
                        left_on=['titulo_eleitor','numero_urna', 'cpf'], 
                        right_on = ['titulo_eleitor','numero_na_urna', 'cpf_inteiro'],
                        how='outer',
                        indicator=True)

In [134]:
#nomes_naoencontrados = pd.merge(candidatos, 
#                                selecionados_atual, 
#                        left_on= ['municipio_compara', 'uf_nascimento', 'numero_urna', 'titulo_eleitor', 'cpf'], 
#                        right_on = ['municipio_compara', 'UF', 'numero_na_urna',  'titulo_eleitor', 'cpf_inteiro'],
#                        how='outer',
#                        indicator=True)

In [135]:
rdf = nomes_naoencontrados.query("_merge == 'right_only'").drop('_merge',axis=1)

In [136]:
rdf[['nome_na_urna', 'numero_na_urna', 'UF', 'cpf_inteiro']]

     nome_na_urna numero_na_urna   UF  cpf_inteiro
8263          NaN            NaN  NaN  00000000000

### 1 - Verifica os nomes não encontrados, se pelo menos numero_urna e cpf batem

### 2 - Altera esses nomes errados

### 3 - Cria um arquivo só com esses selecionados para cruzar com pacto

####  Cria no final um selecionados_atual com as colunas corretas e uma pacto vazia

# Verifica se esses estão no Pacto e preenche coluna pacto

In [140]:
selecionados_atual = pd.read_excel('resultados/selecionados_atual_5out_2.xlsx',sheet_name='Planilha1', converters={'cpf': lambda x: str(x),  
                                                                                              'numero_urna': lambda x: str(x)
                                                                                                  })

In [141]:
selecionados_atual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 31 columns):
uf                              7 non-null object
cargo                           7 non-null object
numero_urna                     7 non-null object
nome_completo                   7 non-null object
nome_urna                       7 non-null object
cpf                             7 non-null object
e_mail_tse                      7 non-null object
partido_eleicao                 7 non-null object
data_nascimento                 7 non-null object
ocupacao_tse                    7 non-null object
total_bens                      7 non-null float64
detalhes_bens                   7 non-null object
resumo_stf                      0 non-null float64
total_inqueritos                0 non-null float64
total_acoes_penais              0 non-null float64
detalhes_processos              0 non-null float64
reu_no_stf                      0 non-null float64
passado_limpo                   7 non-null object
e_mail_survey                   7 non-null object
ocupacao_survey                 7 non-null object
site_candidato                  3 non-null object
url_facebook                    6 non-null object
url_twitter                     3 non-null object
url_instagram                   6 non-null object
url_youtube                     3 non-null object
financiamento_coletivo          1 non-null object
processos_primeira_instancia    7 non-null object
detalhes_processos_survey       0 non-null float64
aderiu_totalmente_medidas       7 non-null object
justificativa_adesao_medidas    1 non-null object
pacto                           0 non-null float64
dtypes: float64(8), object(23)
memory usage: 1.8+ KB

In [142]:
checa_pacto = pd.merge(selecionados_atual, pacto,  how='left', left_on='cpf',
                 right_on = 'cpf_inteiro')

In [143]:
checa_pacto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 57 columns):
uf                              7 non-null object
cargo                           7 non-null object
numero_urna                     7 non-null object
nome_completo                   7 non-null object
nome_urna                       7 non-null object
cpf                             7 non-null object
e_mail_tse                      7 non-null object
partido_eleicao                 7 non-null object
data_nascimento                 7 non-null object
ocupacao_tse                    7 non-null object
total_bens                      7 non-null float64
detalhes_bens                   7 non-null object
resumo_stf                      0 non-null float64
total_inqueritos                0 non-null float64
total_acoes_penais              0 non-null float64
detalhes_processos              0 non-null float64
reu_no_stf                      0 non-null float64
passado_limpo                   7 non-null object
e_mail_survey                   7 non-null object
ocupacao_survey                 7 non-null object
site_candidato                  3 non-null object
url_facebook                    6 non-null object
url_twitter                     3 non-null object
url_instagram                   6 non-null object
url_youtube                     3 non-null object
financiamento_coletivo          1 non-null object
processos_primeira_instancia    7 non-null object
detalhes_processos_survey       0 non-null float64
aderiu_totalmente_medidas       7 non-null object
justificativa_adesao_medidas    1 non-null object
pacto                           0 non-null float64
Nome                            2 non-null object
Sobrenome                       2 non-null object
(End)                           0 non-null float64
Telefone                        1 non-null object
Estado                          2 non-null object
Cidade                          2 non-null object
Partido                         2 non-null object
Movimento                       0 non-null object
Cargo concorrente               2 non-null object
Facebook                        2 non-null object
Instagram                       2 non-null object
Twitter                         0 non-null object
Youtube/Linkedin                0 non-null object
Site                            0 non-null object
Crowdfunding                    0 non-null object
Mandato atual                   2 non-null object
CPF                             2 non-null object
Nº urna                         2 non-null object
Data de adesão                  2 non-null object
adesao                          2 non-null object
video                           2 non-null object
Responsável                     1 non-null object
Unnamed: 22                     0 non-null object
cpf_limpo                       2 non-null float64
cpf_inteiro                     2 non-null object
aceite_ajustado                 2 non-null object
dtypes: float64(10), object(47)
memory usage: 3.2+ KB

In [144]:
checa_pacto.to_excel('verifica_encontrados_pacto.xlsx',sheet_name='Sheet1')

nomes_naoencontrados = pd.merge(selecionados_last, 
                                pacto, 
                        left_on='cpf',
                        right_on = 'cpf_inteiro',
                        how='outer',
                        indicator=True)
ldf = nomes_naoencontrados.query("_merge == 'lef_only'").drop('_merge',axis=1)
ldf.nome_completo

Series([], Name: nome_completo, dtype: object)

#### 1 - Atualiza coluna pacto nos encontrados. Verificar se em Pacto há CPF duplicado, deixar a última versão

#### 2 - Faz última verificação visual nos não encontrados

#### 3 - Ajustar nome de colunas

#### 4 - Coloca esse conjunto no final do último arquivo consolidado geral. Exemplo: planilhacompleta_consolidade_14set_parcial

#### 5 - Apaga colunas tenta_reeleicao e cor_avaliacao. Salva com o nome do dia

# Verifica quais do Pacto não estão no TSE

In [73]:
consolidado = pd.read_excel('resultados/consolidado/planilhacompleta_consolidade_21set.xlsx',sheet_name='Sheet1', converters={'cpf': lambda x: str(x),  
                                                                                              'numero_urna': lambda x: str(x)   
                                                                                                  })

In [74]:
verifica = pd.merge(pacto, consolidado,  how='left', left_on='cpf_inteiro',
                 right_on = 'cpf')

In [75]:
verifica.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 445 entries, 0 to 444
Data columns (total 59 columns):
Nome                            445 non-null object
Sobrenome                       437 non-null object
(End)                           0 non-null float64
Telefone                        346 non-null object
Estado                          442 non-null object
Cidade                          438 non-null object
Partido                         426 non-null object
Movimento                       200 non-null object
Cargo concorrente               443 non-null object
Facebook                        387 non-null object
Instagram                       143 non-null object
Twitter                         23 non-null object
Youtube/Linkedin                15 non-null object
Site                            141 non-null object
Crowdfunding                    12 non-null object
Mandato atual                   401 non-null object
CPF                             444 non-null object
Nº urna                         389 non-null object
Data de adesão                  426 non-null object
adesao                          445 non-null object
video                           445 non-null object
Responsável                     50 non-null object
Unnamed: 22                     1 non-null object
cpf_limpo                       444 non-null float64
cpf_inteiro                     445 non-null object
aceite_ajustado                 445 non-null object
uf                              358 non-null object
cargo                           358 non-null object
numero_urna                     358 non-null object
nome_completo                   358 non-null object
nome_urna                       358 non-null object
cpf                             358 non-null object
e_mail_tse                      358 non-null object
partido_eleicao                 358 non-null object
data_nascimento                 358 non-null object
ocupacao_tse                    358 non-null object
total_bens                      358 non-null object
detalhes_bens                   358 non-null object
resumo_stf                      293 non-null object
total_inqueritos                293 non-null object
total_acoes_penais              293 non-null object
detalhes_processos              302 non-null object
reu_no_stf                      0 non-null float64
passado_limpo                   358 non-null object
e_mail_survey                   312 non-null object
ocupacao_survey                 312 non-null object
site_candidato                  190 non-null object
url_facebook                    310 non-null object
url_twitter                     182 non-null object
url_instagram                   260 non-null object
url_youtube                     151 non-null object
financiamento_coletivo          164 non-null object
processos_primeira_instancia    358 non-null object
detalhes_processos_survey       358 non-null object
aderiu_totalmente_medidas       358 non-null object
justificativa_adesao_medidas    358 non-null object
pacto                           358 non-null object
tenta_reeleicao                 358 non-null object
cor_avaliacao                   358 non-null object
dtypes: float64(3), object(56)
memory usage: 208.6+ KB

In [76]:
verifica.to_excel('pacto_faltantes.xlsx',sheet_name='Sheet1')

# Verifica quais do Pacto tiveram alteração no dia

In [2]:
pacto = pd.read_excel('pacto/pacto_4out_2.xlsx',sheet_name='Sheet1', converters={'cpf_inteiro': lambda x: str(x)})

pacto = pacto.drop_duplicates(['cpf_inteiro'], keep='last')

consolidado = pd.read_excel('resultados/consolidado/VALEESTE_planilhacompleta_consolidade_4out.xlsx',sheet_name='Sheet1', converters={'cpf': lambda x: str(x),  
                                                                                              'numero_urna': lambda x: str(x)   
                                                                                                  })
checa_pacto = pd.merge(consolidado, pacto,  how='left', left_on='cpf',
                 right_on = 'cpf_inteiro')

checa_pacto.info()

checa_pacto.to_excel('verifica_encontrados_pacto.xlsx',sheet_name='Sheet1')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8292 entries, 0 to 8291
Data columns (total 59 columns):
uf                              8292 non-null object
cargo                           8292 non-null object
numero_urna                     8292 non-null object
nome_completo                   8292 non-null object
nome_urna                       8292 non-null object
cpf                             8292 non-null object
e_mail_tse                      8292 non-null object
partido_eleicao                 8292 non-null object
data_nascimento                 8292 non-null object
ocupacao_tse                    8292 non-null object
total_bens                      8292 non-null object
detalhes_bens                   8292 non-null object
resumo_stf                      0 non-null float64
total_inqueritos                8292 non-null object
total_acoes_penais              0 non-null float64
detalhes_processos              0 non-null float64
reu_no_stf                      37 non-null object
passado_limpo                   8292 non-null object
e_mail_survey                   648 non-null object
ocupacao_survey                 648 non-null object
site_candidato                  352 non-null object
url_facebook                    629 non-null object
url_twitter                     325 non-null object
url_instagram                   516 non-null object
url_youtube                     284 non-null object
financiamento_coletivo          280 non-null object
processos_primeira_instancia    8292 non-null object
detalhes_processos_survey       8292 non-null object
aderiu_totalmente_medidas       8292 non-null object
justificativa_adesao_medidas    8292 non-null object
pacto                           8292 non-null object
tenta_reeleicao                 8292 non-null object
cor_avaliacao                   8292 non-null object
Nome                            418 non-null object
Sobrenome                       414 non-null object
(End)                           0 non-null float64
Telefone                        319 non-null object
Estado                          416 non-null object
Cidade                          411 non-null object
Partido                         410 non-null object
Movimento                       182 non-null object
Cargo concorrente               416 non-null object
Facebook                        378 non-null object
Instagram                       176 non-null object
Twitter                         17 non-null object
Youtube/Linkedin                13 non-null object
Site                            118 non-null object
Crowdfunding                    13 non-null object
Mandato atual                   401 non-null object
CPF                             427 non-null object
Nº urna                         393 non-null object
Data de adesão                  408 non-null object
adesao                          427 non-null object
video                           420 non-null object
Responsável                     86 non-null object
Unnamed: 22                     0 non-null object
cpf_limpo                       427 non-null float64
cpf_inteiro                     427 non-null object
aceite_ajustado                 427 non-null object
dtypes: float64(5), object(54)
memory usage: 3.8+ MB