In [1]:
# -*- coding: utf-8
# Transparency International - Brazil (https://transparenciainternacional.org.br)
# Reinaldo Chaves (@paidatocandeira)
# Faz filtros e somas com os processos de políticos
#

In [ ]:
import pandas as pd
import numpy as np
from collections import Counter

Arquivo da raspagem, já preechido manualmente com os dados dos processos

In [2]:
df_processos = pd.read_excel('processos/folha/processos_parlamentares_revisao_reinaldo.xlsx',sheet_name='Planilha1', 
                            converters={'cpf': lambda x: str(x)})

In [3]:
df_processos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1417 entries, 0 to 1416
Data columns (total 27 columns):
cpf                                1136 non-null object
nome                               1417 non-null object
nome_completo                      1417 non-null object
partido                            1414 non-null object
uf                                 1414 non-null object
cargo_parlamentar                  1417 non-null object
tipo                               1180 non-null object
classe                             1417 non-null object
numero                             1417 non-null object
único                              1381 non-null object
assunto                            1414 non-null object
data_inicial                       1417 non-null object
data_final                         1417 non-null object
andamento                          1416 non-null object
link                               1417 non-null object
transparencia                      1415 non-null object
conferencia                        1188 non-null object
data_conferencia                   1139 non-null object
resumo                             1138 non-null object
observacao                         1065 non-null object
link_noticia_tribunal_confiavel    313 non-null object
interessa                          1162 non-null object
ministro_relator                   1139 non-null object
processo_conectado                 130 non-null object
situacao                           1151 non-null object
cadastro_push                      1197 non-null object
Unnamed: 26                        1 non-null object
dtypes: object(27)
memory usage: 299.0+ KB

In [4]:
df_selecao_atual = df_processos[(df_processos['classe'] != 'Nope')]
df_selecao_atual = df_selecao_atual[pd.notnull(df_selecao_atual['tipo'])]

In [5]:
df_selecao_atual.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1135 entries, 2 to 1415
Data columns (total 27 columns):
cpf                                1134 non-null object
nome                               1135 non-null object
nome_completo                      1135 non-null object
partido                            1132 non-null object
uf                                 1132 non-null object
cargo_parlamentar                  1135 non-null object
tipo                               1135 non-null object
classe                             1135 non-null object
numero                             1135 non-null object
único                              1099 non-null object
assunto                            1132 non-null object
data_inicial                       1135 non-null object
data_final                         1135 non-null object
andamento                          1134 non-null object
link                               1135 non-null object
transparencia                      1133 non-null object
conferencia                        1135 non-null object
data_conferencia                   1134 non-null object
resumo                             1134 non-null object
observacao                         1058 non-null object
link_noticia_tribunal_confiavel    311 non-null object
interessa                          1133 non-null object
ministro_relator                   1133 non-null object
processo_conectado                 130 non-null object
situacao                           1134 non-null object
cadastro_push                      1132 non-null object
Unnamed: 26                        0 non-null object
dtypes: object(27)
memory usage: 248.3+ KB

In [6]:
df_selecao_atual.to_excel('processos/folha/processos_dia4setembro.xlsx',sheet_name='Sheet1')

# Acessa candidatos

In [6]:
candidatos_2018_todos = pd.read_excel('processos/folha/candidatos_2018_todos.xlsx',sheet_name='Sheet1', converters={'sequencial': lambda x: str(x), 
                                                                                              'cpf': lambda x: str(x),  
                                                                                              'numero_urna': lambda x: str(x),
                                                                                              'titulo_eleitor': lambda x: str(x),     
                                                                                                  })

In [8]:
candidatos = pd.read_excel('/home/reinaldo/Documentos/Code/ti/repo/besouro/candidatos_bens_padrao/base_padrao_dia17set.xlsx',sheet_name='Sheet1', converters={'cpf': lambda x: str(x),  
                                                                                              'numero_urna': lambda x: str(x),
                                                                                              'titulo_eleitor': lambda x: str(x)     
                                                                                                  })

In [7]:
candidatos_2018_todos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28063 entries, 0 to 435
Data columns (total 16 columns):
uf                      28063 non-null object
cargo                   28063 non-null object
sequencial              28063 non-null object
numero_urna             28063 non-null object
nome_completo           28063 non-null object
nome_urna               28063 non-null object
cpf                     28063 non-null object
e_mail                  28063 non-null object
situacao_candidatura    28063 non-null object
partido_eleicao         28063 non-null object
uf_nascimento           28063 non-null object
municipio_nascimento    28063 non-null object
data_nascimento         28063 non-null object
titulo_eleitor          28063 non-null object
ocupacao                28063 non-null object
reeleicao               28063 non-null object
dtypes: object(16)
memory usage: 3.6+ MB

In [9]:
processos_candidatos = pd.merge(candidatos_2018_todos, df_selecao_atual, left_on='cpf', right_on='cpf')

In [10]:
processos_candidatos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1009 entries, 0 to 1008
Data columns (total 42 columns):
uf_x                               1009 non-null object
cargo                              1009 non-null object
sequencial                         1009 non-null object
numero_urna                        1009 non-null object
nome_completo_x                    1009 non-null object
nome_urna                          1009 non-null object
cpf                                1009 non-null object
e_mail                             1009 non-null object
situacao_candidatura               1009 non-null object
partido_eleicao                    1009 non-null object
uf_nascimento                      1009 non-null object
municipio_nascimento               1009 non-null object
data_nascimento                    1009 non-null object
titulo_eleitor                     1009 non-null object
ocupacao                           1009 non-null object
reeleicao                          1009 non-null object
nome                               1009 non-null object
nome_completo_y                    1009 non-null object
partido                            1008 non-null object
uf_y                               1008 non-null object
cargo_parlamentar                  1009 non-null object
tipo                               1009 non-null object
classe                             1009 non-null object
numero                             1009 non-null object
único                              981 non-null object
assunto                            1009 non-null object
data_inicial                       1009 non-null object
data_final                         1009 non-null object
andamento                          1009 non-null object
link                               1009 non-null object
transparencia                      1007 non-null object
conferencia                        1009 non-null object
data_conferencia                   1009 non-null object
resumo                             1009 non-null object
observacao                         950 non-null object
link_noticia_tribunal_confiavel    290 non-null object
interessa                          1008 non-null object
ministro_relator                   1009 non-null object
processo_conectado                 117 non-null object
situacao                           1009 non-null object
cadastro_push                      1008 non-null object
Unnamed: 26                        0 non-null object
dtypes: object(42)
memory usage: 339.0+ KB

Só candidatos parlamentares

In [9]:
processos_candidatos2 = pd.merge(candidatos, df_selecao_atual, left_on='cpf', right_on='cpf')

In [10]:
processos_candidatos2 = processos_candidatos2[(processos_candidatos2['interessa'] == 'sim')]

In [11]:
processos_candidatos2.to_excel('processos/folha/processos_em_atividade.xlsx',sheet_name='Sheet1')

# Quantos são réus - candidatos

In [21]:
candidatos_inq = processos_candidatos[(processos_candidatos['tipo'] == 'INQ')]
candidatos_ap = processos_candidatos[(processos_candidatos['tipo'] == 'AP')]

In [22]:
candidatos_inq = candidatos_inq[(candidatos_inq['situacao'] == 'Denúncia aceita - AP ainda não julgada') |
                                          (candidatos_inq['situacao'] == 'Denúncia recebida parcialmente - AP ainda não julgada') |
                                          (candidatos_inq['situacao'] == 'Denúncia aceita - AP julgada e condenado') 
                                         ]

In [23]:
conta1 = candidatos_inq.groupby(['tipo','cpf']).size().reset_index()
conta1.columns = ['tipo', 'cpf', 'contagem']

In [24]:
conta1

   tipo          cpf  contagem
0   INQ  00018031234         3
1   INQ  00441392415         2
2   INQ  00834939134         1
3   INQ  02906287172         1
4   INQ  04240952387         1
5   INQ  06015530553         1
6   INQ  08781460910         1
7   INQ  09582819472         1
8   INQ  09604332287         1
9   INQ  13512951287         1
10  INQ  21006768904         1
11  INQ  23019093104         1
12  INQ  26404222272         5
13  INQ  28925491168         1
14  INQ  30736250620         1
15  INQ  32247753191         1
16  INQ  34347364920         2
17  INQ  34577521172         1
18  INQ  36447374015         1
19  INQ  38858240944         1
20  INQ  43196926168         3
21  INQ  45317828791         1
22  INQ  53467108415         1
23  INQ  55686176515         3
24  INQ  57785368791         1
25  INQ  62929399368         1
26  INQ  66728983791         1
27  INQ  67677061915         1

In [25]:
candidatos_ap1 = candidatos_ap[(candidatos_ap['situacao'] == 'Em andamento') |
                               (candidatos_ap['situacao'] == 'Condenado') |
                              candidatos_ap['situacao'].str.contains("Ausência de foro", na=False)]

In [26]:
conta2 = candidatos_ap1.groupby(['tipo','cpf']).size().reset_index()
conta2.columns = ['tipo', 'cpf', 'contagem']

In [27]:
conta2

   tipo          cpf  contagem
0    AP  00018031234         1
1    AP  00834939134         1
2    AP  01252958803         1
3    AP  01266637699         1
4    AP  02621380425         1
5    AP  02906287172         1
6    AP  04064992172         2
7    AP  04240952387         1
8    AP  05017868488         1
9    AP  06015530553         1
10   AP  07409419504         1
11   AP  09582819472         1
12   AP  09604332287         1
13   AP  10744096200         3
14   AP  11078685487         1
15   AP  11939141168         4
16   AP  12534773453         1
17   AP  12941514449         1
18   AP  13405551234         1
19   AP  13512951287         1
20   AP  13761900287         1
21   AP  21006768904         1
22   AP  24106305968         1
23   AP  26404222272         9
24   AP  29446376068         1
25   AP  32247753191         1
26   AP  33155623420         1
27   AP  34347364920         2
28   AP  34577521172         1
29   AP  37625942015         1
30   AP  38108216753         1
31   AP  41864883634         1
32   AP  43196926168         3
33   AP  44435630915         1
34   AP  45360707968         2
35   AP  55686176515         3
36   AP  57785368791         1
37   AP  68642725915         1
38   AP  76808742715         1
39   AP  77548981872         1
40   AP  79401546720         1

In [28]:
soma =  conta1.append(conta2)

In [29]:
conta4 = soma.groupby(['cpf']).size().reset_index()
conta4.columns = ['cpf', 'contagem']
conta4

            cpf  contagem
0   00018031234         2
1   00441392415         1
2   00834939134         2
3   01252958803         1
4   01266637699         1
5   02621380425         1
6   02906287172         2
7   04064992172         1
8   04240952387         2
9   05017868488         1
10  06015530553         2
11  07409419504         1
12  08781460910         1
13  09582819472         2
14  09604332287         2
15  10744096200         1
16  11078685487         1
17  11939141168         1
18  12534773453         1
19  12941514449         1
20  13405551234         1
21  13512951287         2
22  13761900287         1
23  21006768904         2
24  23019093104         1
25  24106305968         1
26  26404222272         2
27  28925491168         1
28  29446376068         1
29  30736250620         1
30  32247753191         2
31  33155623420         1
32  34347364920         2
33  34577521172         2
34  36447374015         1
35  37625942015         1
36  38108216753         1
37  38858240944         1
38  41864883634         1
39  43196926168         2
40  44435630915         1
41  45317828791         1
42  45360707968         1
43  53467108415         1
44  55686176515         2
45  57785368791         2
46  62929399368         1
47  66728983791         1
48  67677061915         1
49  68642725915         1
50  76808742715         1
51  77548981872         1
52  79401546720         1

In [30]:
conta4_nomes = pd.merge(conta4, processos_candidatos.drop_duplicates('cpf'), left_on='cpf', right_on='cpf')

In [31]:
conta4_nomes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 52
Data columns (total 43 columns):
cpf                                53 non-null object
contagem                           53 non-null int64
uf_x                               53 non-null object
cargo                              53 non-null object
sequencial                         53 non-null object
numero_urna                        53 non-null object
nome_completo_x                    53 non-null object
nome_urna                          53 non-null object
e_mail                             53 non-null object
situacao_candidatura               53 non-null object
partido_eleicao                    53 non-null object
uf_nascimento                      53 non-null object
municipio_nascimento               53 non-null object
data_nascimento                    53 non-null object
titulo_eleitor                     53 non-null object
ocupacao                           53 non-null object
reeleicao                          53 non-null object
nome                               53 non-null object
nome_completo_y                    53 non-null object
partido                            53 non-null object
uf_y                               53 non-null object
cargo_parlamentar                  53 non-null object
tipo                               53 non-null object
classe                             53 non-null object
numero                             53 non-null object
único                              52 non-null object
assunto                            53 non-null object
data_inicial                       53 non-null object
data_final                         53 non-null object
andamento                          53 non-null object
link                               53 non-null object
transparencia                      53 non-null object
conferencia                        53 non-null object
data_conferencia                   53 non-null object
resumo                             53 non-null object
observacao                         51 non-null object
link_noticia_tribunal_confiavel    25 non-null object
interessa                          53 non-null object
ministro_relator                   53 non-null object
processo_conectado                 11 non-null object
situacao                           53 non-null object
cadastro_push                      53 non-null object
Unnamed: 26                        0 non-null object
dtypes: int64(1), object(42)
memory usage: 18.2+ KB

In [32]:
conta4_nomes = pd.merge(conta4, processos_candidatos, left_on='cpf', right_on='cpf')

In [33]:
conta4_nomes.to_excel('processos/folha/processos_reus_4setembro.xlsx',sheet_name='Sheet1')

# Quantos foram para outra instância

In [37]:
mask = processos_candidatos['situacao'].str.contains("Ausência de foro", na=False)

In [38]:
ausencia_foro = processos_candidatos[mask]

In [39]:
ausencia_foro.to_excel('processos/folha/processos_foram_outras_instancias.xlsx',sheet_name='Sheet1')

# Extinção da punibilidade

In [111]:
extincao = processos_candidatos[(processos_candidatos['situacao'] == 'Extinção da punibilidade')]
extincao.info()
extincao['nome_urna'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 41 to 984
Data columns (total 41 columns):
uf_x                               80 non-null object
cargo                              80 non-null object
sequencial                         80 non-null object
numero_urna                        80 non-null object
nome_completo_x                    80 non-null object
nome_urna                          80 non-null object
cpf                                80 non-null object
e_mail                             80 non-null object
situacao_candidatura               80 non-null object
partido_eleicao                    80 non-null object
uf_nascimento                      80 non-null object
municipio_nascimento               80 non-null object
data_nascimento                    80 non-null object
titulo_eleitor                     80 non-null object
ocupacao                           80 non-null object
reeleicao                          80 non-null object
nome                               80 non-null object
nome_completo_y                    80 non-null object
partido                            80 non-null object
uf_y                               80 non-null object
cargo_parlamentar                  80 non-null object
tipo                               80 non-null object
classe                             80 non-null object
numero                             80 non-null object
único                              79 non-null object
assunto                            80 non-null object
data_inicial                       80 non-null object
data_final                         80 non-null object
andamento                          80 non-null object
link                               80 non-null object
transparencia                      80 non-null object
conferencia                        80 non-null object
data_conferencia                   80 non-null object
observacao                         74 non-null object
link_noticia_tribunal_confiavel    13 non-null object
interessa                          80 non-null object
ministro_relator                   80 non-null object
processo_conectado                 4 non-null object
situacao                           80 non-null object
cadastro_push                      80 non-null object
Unnamed: 26                        0 non-null object
dtypes: object(41)
memory usage: 26.2+ KB

JADER BARBALHO                8
NILSON LEITÃO                 6
VANDER LOUBET                 4
GIACOBO                       3
REQUIÃO                       3
VENEZIANO                     3
NELSON MARQUEZELLI            2
ALFREDO NASCIMENTO            2
NEWTON CARDOSO JR             2
WEVERTON                      2
FLEXA RIBEIRO                 2
CABO DACIOLO                  2
ROMÁRIO FARIA                 2
VALDIR RAUPP                  2
AELTON FREITAS                1
OSMAR TERRA                   1
HERMES FRANGÃO PARCIANELLO    1
JOZI ARAUJO                   1
JULIO LOPES                   1
VALADARES                     1
JARBAS                        1
SILAS CÂMARA                  1
VALMIR ASSUNÇÃO               1
MARCO TEBALDI                 1
ZÉ MARANHÃO                   1
AGUINALDO RIBEIRO             1
CARLOS MELLES                 1
JUNJI ABE                     1
CELSO RUSSOMANNO              1
CÁSSIO CUNHA LIMA             1
PAES LANDIM                   1
DIMAS FABIANO                 1
ALFREDO KAEFER                1
FERNANDO COLLOR               1
LINCOLN PORTELA               1
CARLOS BEZERRA                1
JOÃO BACELAR                  1
LUIZIANNE                     1
ZÉ REINALDO                   1
DIEGO GARCIA                  1
MAGDA MOFATTO                 1
MARCOS MONTES                 1
OTAVIO LEITE                  1
MARCON                        1
ESPERIDIÃO AMIN               1
CÉSAR HALUM                   1
CABO SABINO                   1
EZEQUIEL FONSECA              1
GUILHERME MUSSI               1
BENITO GAMA                   1
IRAJÁ ABREU                   1
Name: nome_urna, dtype: int64

# Faz contagem de tipos de acusações

Dados estão na coluna resumo separados por vírgula. Exemplo: 'Corrupção ativa, Corrupção passiva, Lavagem de dinheiro'

In [ ]:
df_conta = processos_candidatos.groupby(['cpf', 'tipo']).resumo.agg(', '.join).str.split(', ').agg(Counter).reset_index()

In [41]:
lista = []

In [42]:
for _, g in df_conta.groupby('cpf'):
    x = f'{_} tem investigações no STF ou que foram para outros tribunais sobre: '
    cpf = _
    sintese = [f'{v} {t}(s) por {k}' for d,t in zip(g.resumo, g.tipo) for (k, v) in d.items()]
    
    lista.append({'cpf': cpf, 
                  'sintese': sintese}) 
    
    lines = x + '\n'.join(sintese)
    #print(lines)

In [43]:
df_sintese = pd.DataFrame(lista, columns = ['cpf', 'sintese'])

In [44]:
def limpeza(linha):
    palavras = str(linha["sintese"])
    palavras = palavras.replace('[', '')
    palavras = palavras.replace(']', '')
    return str(palavras)

df_sintese["sintese"] = df_sintese.apply(limpeza, axis=1)

In [45]:
df_sintese_nomes = pd.merge(df_sintese, processos_candidatos.drop_duplicates('cpf'), left_on='cpf', right_on='cpf')

In [46]:
df_sintese_nomes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 303 entries, 0 to 302
Data columns (total 43 columns):
cpf                                303 non-null object
sintese                            303 non-null object
uf_x                               303 non-null object
cargo                              303 non-null object
sequencial                         303 non-null object
numero_urna                        303 non-null object
nome_completo_x                    303 non-null object
nome_urna                          303 non-null object
e_mail                             303 non-null object
situacao_candidatura               303 non-null object
partido_eleicao                    303 non-null object
uf_nascimento                      303 non-null object
municipio_nascimento               303 non-null object
data_nascimento                    303 non-null object
titulo_eleitor                     303 non-null object
ocupacao                           303 non-null object
reeleicao                          303 non-null object
nome                               303 non-null object
nome_completo_y                    303 non-null object
partido                            302 non-null object
uf_y                               302 non-null object
cargo_parlamentar                  303 non-null object
tipo                               303 non-null object
classe                             303 non-null object
numero                             303 non-null object
único                              294 non-null object
assunto                            303 non-null object
data_inicial                       303 non-null object
data_final                         303 non-null object
andamento                          303 non-null object
link                               303 non-null object
transparencia                      301 non-null object
conferencia                        303 non-null object
data_conferencia                   303 non-null object
resumo                             303 non-null object
observacao                         291 non-null object
link_noticia_tribunal_confiavel    87 non-null object
interessa                          302 non-null object
ministro_relator                   303 non-null object
processo_conectado                 27 non-null object
situacao                           303 non-null object
cadastro_push                      302 non-null object
Unnamed: 26                        0 non-null object
dtypes: object(43)
memory usage: 104.2+ KB

In [47]:
df_sintese_nomes = df_sintese_nomes.iloc[:,:8]
df_sintese_nomes.drop('uf_x', axis=1, inplace = True)
df_sintese_nomes.drop('cargo', axis=1, inplace = True)
df_sintese_nomes.drop('sequencial', axis=1, inplace = True)
df_sintese_nomes.drop('numero_urna', axis=1, inplace = True)
df_sintese_nomes.drop('nome_completo_x', axis=1, inplace = True)

In [48]:
df_sintese_nomes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 303 entries, 0 to 302
Data columns (total 3 columns):
cpf          303 non-null object
sintese      303 non-null object
nome_urna    303 non-null object
dtypes: object(3)
memory usage: 9.5+ KB

In [49]:
df_sintese_nomes.reset_index().head()

,index,cpf,sintese,nome_urna
0,0,00007487738,"'1 INQ(s) por Lavagem de dinheiro', '1 INQ(s) ...",ALTINEU CORTES
1,1,00014125153,"'1 INQ(s) por Associação criminosa', '4 INQ(s)...",EDISON LOBÃO
2,2,00018031234,"'1 AP(s) por Desvio de verbas', '1 AP(s) por F...",JADER BARBALHO
3,3,00031226540,"'2 INQ(s) por Corrupção passiva', '1 INQ(s) po...",MÁRIO NEGROMONTE JR
4,4,00105457434,"'1 INQ(s) por Crimes Eleitorais', '1 INQ(s) po...",JARBAS

# Soma por tipo de crime

In [71]:
newdf=processos_candidatos.set_index(['cpf','tipo'])['resumo'].str.split(',').apply(pd.Series).stack().to_frame('resumo').reset_index(level=[0,1])
newdf['count']=newdf.groupby(['cpf','tipo','resumo'])['resumo'].transform('size')
newdf.head()

           cpf tipo                                    resumo  count
0  96980486853  INQ               Crimes da Lei de licitações      2
0  96980486853  INQ               Crimes da Lei de licitações      2
0  96980486853  INQ                           Compra de votos      1
0  96980486853  INQ  Sonegação de contribuição previdenciária      1
0  96980486853  INQ        Omissão de valor doado em campanha      1

In [51]:
newdf_nomes = pd.merge(newdf, df_sintese_nomes.drop_duplicates('cpf'), left_on='cpf', right_on='cpf')
newdf_nomes.drop('sintese', axis=1, inplace = True)

In [52]:
newdf_nomes.to_excel('processos/folha/soma_tipo_crimes.xlsx',sheet_name='Sheet1')

In [100]:
s = (processos_candidatos.pop('resumo').str.split(',', expand=True)
       .stack()
       .reset_index(level=1, drop=True)
       .rename('resumo')
       .str.strip()
    )

In [101]:
df = processos_candidatos.join(s).groupby(['cpf','tipo','resumo']).size().reset_index(name='contagem')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1170 entries, 0 to 1169
Data columns (total 4 columns):
cpf         1170 non-null object
tipo        1170 non-null object
resumo      1170 non-null object
contagem    1170 non-null int64
dtypes: int64(1), object(3)
memory usage: 36.6+ KB

In [102]:
df_nomes = pd.merge(df, df_sintese_nomes.drop_duplicates('cpf'), left_on='cpf', right_on='cpf')
df_nomes.drop('sintese', axis=1, inplace = True)
df_nomes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1170 entries, 0 to 1169
Data columns (total 5 columns):
cpf          1170 non-null object
tipo         1170 non-null object
resumo       1170 non-null object
contagem     1170 non-null int64
nome_urna    1170 non-null object
dtypes: int64(1), object(4)
memory usage: 54.8+ KB

In [103]:
df_nomes.reset_index().head(10)

   index          cpf tipo                resumo  contagem       nome_urna
0      0  00007487738  INQ       Corrupção ativa         1  ALTINEU CORTES
1      1  00007487738  INQ     Corrupção passiva         1  ALTINEU CORTES
2      2  00007487738  INQ    Investigação Penal         1  ALTINEU CORTES
3      3  00007487738  INQ   Lavagem de dinheiro         1  ALTINEU CORTES
4      4  00007487738  INQ     Ocultação de Bens         1  ALTINEU CORTES
5      5  00007487738  INQ              Peculato         1  ALTINEU CORTES
6      6  00007487738  INQ    Quadrilha ou Bando         1  ALTINEU CORTES
7      7  00014125153  INQ  Associação criminosa         1    EDISON LOBÃO
8      8  00014125153  INQ       Corrupção ativa         1    EDISON LOBÃO
9      9  00014125153  INQ     Corrupção passiva         4    EDISON LOBÃO

In [104]:
df_nomes.to_excel('processos/folha/soma_tipo_crimes.xlsx',sheet_name='Sheet1')

In [105]:
df_nomes.groupby("resumo").contagem.sum().reset_index().sort_values("contagem", ascending=False)

                                                resumo  contagem
127                                Lavagem de dinheiro       158
34                                   Corrupção passiva       156
59                         Crimes da Lei de licitações       139
145                                           Peculato       139
136                                  Ocultação de Bens       100
42                                   Crimes Eleitorais        88
60                          Crimes de Responsabilidade        73
32                                     Corrupção ativa        58
123                                 Investigação Penal        54
96                                Falsidade ideológica        49
150                                 Quadrilha ou Bando        46
33                                 Corrupção eleitoral        31
53                    Crimes contra a Ordem Tributária        29
58         Crimes contra o Sistema Financeiro Nacional        27
20                           Captação ilícita de votos        26
97                      Falsidade ideológica eleitoral        19
91                                         Estelionato        18
11                                Associação criminosa        17
169                             Uso de documento falso        16
99                   Falsificação de documento público        16
56   Crimes contra o Meio Ambiente e o Patrimônio G...        16
98                Falsificação de documento particular        13
114                         Improbidade Administrativa        13
90      Emprego irregular de verbas ou rendas públicas        11
8                  Apropriação indébita Previdenciária        11
76                                       Desobediência         9
166                              Tráfico de influência         9
18                                             Calúnia         9
148                                       Prevaricação         8
104                                    Falso eleitoral         8
..                                                 ...       ...
62                                  Crimes de Trânsito         1
65                 Crimes na contratação de servidores         1
117                          Incitação de greve de PMs         1
69                                    Dano Qualificado         1
116                                 Incitação ao Crime         1
115                         Improbidade administrativa         1
112                                 Gestão fraudulenta         1
111           Gasto excessivo em último ano de mandato         1
110  Frustração de direitos assegurados por lei tra...         1
109                                 Fraude à licitação         1
108                                Fraude em Licitação         1
107                                   Fraude Eleitoral         1
103  Falsificação ou Alteração de Documento Público...         1
101                         Falsificação de documentos         1
93                                   Evasão de divisas         1
89                               Embriaguez ao volante         1
1                                  Abuso de autoridade         1
87                   Difamação na Propaganda Eleitoral         1
85             Desvio e apropriação de verbas públicas         1
82                             Desvio de verba pública         1
81                                     Desvio de verba         1
80                                  Desvio de recursos         1
78   Desobediência a Ordens ou Instruções da Justiç...         1
77                             Desobediência Eleitoral         1
75                    Descumprimento de ordem judicial         1
73                               Denunciação caluniosa         1
72                       Delito de natureza tributária         1
71                    Dano em coisa de valor artístico         1
70                                      Dano ao Erário         1
88   Dispensar ou inexigir licitação fora das situa...         1

[177 rows x 2 columns]

In [110]:
lavagem = df_nomes[(df_nomes['resumo'] == 'Lavagem de dinheiro')]
lavagem.groupby("nome_urna").contagem.sum().reset_index().sort_values("contagem", ascending=False)

                 nome_urna  contagem
64                   RENAN        12
68             ROMERO JUCÁ         8
73            VALDIR RAUPP         7
24            EDISON LOBÃO         5
23              DR. ANÍBAL         5
38          JADER BARBALHO         5
20           CIRO NOGUEIRA         4
59       PAULINHO DA FORÇA         4
65                 ROBERTO         4
13             AÉCIO NEVES         3
28                 EUNÍCIO         3
30         FERNANDO COLLOR         3
34             GLEISI LULA         3
26        EDUARDO DA FONTE         3
11             ARTHUR LIRA         3
44     JOSÉ OTÁVIO GERMANO         3
48           LUIZ FERNANDO         3
62             PAULO ROCHA         2
36          HUMBERTO COSTA         2
35               GUIMARAES         2
56       NEWTON CARDOSO JR         2
1           ADAIL CARNEIRO         2
54            MILTON MONTI         2
43           JOSÉ AGRIPINO         2
45            JOÃO BACELAR         2
46               LINDBERGH         2
25           EDUARDO BRAGA         2
50       LÚCIO VIEIRA LIMA         2
51              MARCO MAIA         2
19        CARLOS ZARATTINI         2
..                     ...       ...
0             ACIR GURGACZ         1
40             JOAO DANIEL         1
49             LÚCIA VÂNIA         1
47          LUCIO MOSQUINI         1
2          ADELSON BARRETO         1
3           AELTON FREITAS         1
4        AGUINALDO RIBEIRO         1
5                  ALELUIA         1
6           ALFREDO KAEFER         1
7       ALFREDO NASCIMENTO         1
8           ALTINEU CORTES         1
9              ANDRÉ MOURA         1
10       ARLINDO CHINAGLIA         1
12             ARTHUR MAIA         1
14                 BACELAR         1
16            BRUNO ARAUJO         1
17                 CAETANO         1
18  CARLOS HENRIQUE GAGUIM         1
21             CÉSAR HALUM         1
22          DANIEL ALMEIDA         1
27             ERIKA KOKAY         1
29        EZEQUIEL FONSECA         1
31             FÁBIO FARIA         1
32                 GIACOBO         1
33          GIUSEPPE VECCI         1
37        IRACEMA PORTELLA         1
39       JHONATAN DE JESUS         1
41             JOSE MENTOR         1
42            JOSIAS GOMES         1
79             ZÉ REINALDO         1

[80 rows x 2 columns]